
.top{
    height: 610px;
    width: 16.4%;
    float: left;
    background-color: rgb(139, 190, 43);
    margin-right: 5px;
}

.top2-3{
    float: left;
    
    width: 16.4%;
   
}

.top2{
     background-color: rgb(139, 190, 43);
    height: 302px;
    margin-bottom: 7px;;
}

.top3{
    height: 302px;
     background-color: rgb(139, 190, 43);
}

.top456{
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    width: 16.4%;
}

.top4{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 199px;
}

.top5{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 199px;
}

.top6{
     background-color: rgb(139, 190, 43);
    height: 199px;
}

.top7to10{
    float: left;
    
    width: 16.4%;
}

.top7{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 147px;
}

.top8{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 147px
}

.top9{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 147px
}

.top10{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 148px
}

.top11to16{
    float: left;
    margin-left: 4px;
    width: 16.4%;
}

.top11{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 96px;
}

.top12{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 96px;
}

.top13{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 96px;
}

.top14{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 96px;
}

.top15{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 96px;
}

.top16{
     background-color: rgb(139, 190, 43);
    margin-bottom: 7px;
    height: 95px;
}


.bottom4{
    float: right;
    margin-left: 2px;
    width: 16.4%;
    
}

.top17{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top18{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top19{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top20{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top21{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top22{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top23{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top24{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top25{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top26{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}
.top27{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
}

.top28{
     background-color: rgb(139, 190, 43);
    height: 44.4px;
    margin-bottom: 7px;
    
}

section{
    text-align: center;
    color: white;
    font-size: 20px;

}